<app-navigation></app-navigation>
<main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}" class="mx-lg-5">


  <div class="jumbotron col-md-4 offset-md-4 " style="top: 50px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>Dodawanie pomiarów</h2>
          <div>
            <label for="name">Nazwa</label>
            <select class="browser-default custom-select select-margin" [(ngModel)]="selectedName"
              (ngModelChange)="isSelectedName()">
              <option value="" selected hidden="">Wybierz nazwę pomiaru</option>
              <option *ngFor="let type of types; let i = index" [value]="type.id">{{type.name}}</option>
            </select>
            <div>
              <label>Jednostka</label>
              <input [attr.disabled]="true" class="form-control" type="text" [(ngModel)]="unit" />

            </div>
          </div>

          <form [formGroup]="measurementForm">
            <div class="form-group">
              <label for="deviceID">nr Urządzenia</label>
              <input type="number" formControlName="deviceID" class="form-control"
                [ngClass]="{ 'is-invalid': saved && f.deviceID.errors }" />
              <div *ngIf="saved && f.deviceID.errors" class="invalid-feedback">
                <div *ngIf="f.deviceID.errors.required">DeviceID is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="value">Wartość</label>
              <input type="number" formControlName="value" class="form-control"
                [ngClass]="{ 'is-invalid': saved && f.value.errors }" />
              <div *ngIf="saved && f.value.errors" class="invalid-feedback">
                <div *ngIf="f.value.errors.required">Value is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Opis</label>
              <input type="text" formControlName="description" class="form-control" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" (click)="onSaveClick(); frame.show()">Dodaj pomiar</button>
              <a routerLink="/measurement-input" class="btn btn-link">Anuluj</a>
              <button class="btn btn-primary" (click)="onSendClick(); frameSend.show()">Wyślij pomiar</button>
            </div>

          </form>

        </div>
      </div>
    </div>

    <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Wiadomość</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body mx-3 justify-content-center text-center">
              <h5 class="modal-title font-weight-bold " style=" font-size: 22px; position: absolute;">Pomiar dodano pomyślnie</h5>
              <div class="md-form mb-5">
                <div class="md-form justify-content-center text-center"></div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center"></div>

          </div>
        </div>
      </div>

      <div mdbModal #frameSend="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Wiadomość</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body mx-3 justify-content-center text-center">
              <h5 class="modal-title font-weight-bold " style=" font-size: 22px; position: absolute;" *ngIf="response == 'Measurements added to the database'; else error ">
                Pomiar wysłano pomyślnie</h5>
              <ng-template #error>
                  <h5 class="modal-title font-weight-bold " style=" font-size: 22px; position: absolute; color: red">Nie udało się wysłać pomiaru</h5>
              </ng-template>
              <div class="md-form mb-5">
                <div class="md-form justify-content-center text-center"></div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center"></div>

          </div>
        </div>
      </div>