<app-navigation></app-navigation>
<main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}" class="mx-lg-5">
    <div class="row wow fadeIn">
        <div class="col-md-12 mb-4 position">
          <div class="card">
            <div class="card-header">Przypisz pacjenta do lekarza</div>
            <div class="card-body">
              <select class="browser-default custom-select select-margin" [(ngModel)]="selectedDoctor">
                <option value="" selected hidden="">Wybierz lekarza</option>
                <option *ngFor="let doctor of doctors; let i = index" [value]="doctor.id">{{doctor.firstName}}, {{doctor.surname}}</option>
              </select>
              <br><br>
              <select class="browser-default custom-select select-margin" [(ngModel)]="selectedUser">
                  <option value="" selected hidden="">Wybierz pacjenta</option>
                  <option *ngFor="let user of users; let i = index" [value]="user.id">{{user.firstName}}, {{user.surname}}</option>
                </select>
              <br>
              <button type="button" class="btn btn-primary" (click)="selectedData()">Przypisz</button>
            </div>
          </div>
        </div>
      </div>  


      <div class="row wow fadeIn">
          <div class="col-md-12 mb-4 position">
            <div class="card">
              <div class="card-header">Wypisz pacjenta od lekarza</div>
              <div class="card-body">
                <select class="browser-default custom-select select-margin" [(ngModel)]="selectedDoctor2">
                  <option value="" selected hidden="">Wybierz lekarza</option>
                  <option *ngFor="let doctor of doctors; let i = index" [value]="doctor.id">{{doctor.firstName}}, {{doctor.surname}}</option>
                </select>
                <br><br>
                <select class="browser-default custom-select select-margin" [(ngModel)]="selectedUser2">
                    <option value="" selected hidden="">Wybierz pacjenta</option>
                    <option *ngFor="let user of users; let i = index" [value]="user.id">{{user.firstName}}, {{user.surname}}</option>
                  </select>
                <br>
                <button type="button" class="btn btn-primary" (click)="deletePatient()">Wypisz</button>
              </div>
            </div>
          </div>
        </div>  


<div class="jumbotron col-md-12  mb-4 position ">
  <div class="row">
    <h1>{{title}}</h1>
  
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#63;  Start searching ">
    </div>
    <div [formGroup]="UserserchingForm">
     <table class="table table-striped">
       <thead>
       <tr>
         <th>Id</th>
         <th>Email</th>
         <th>Hasło</th>
         <th>Imię</th>
         <th>Nazwisko</th>
         <th>Narodowe id</th>
         <th>Telefon</th>
         <th>Rola</th>
       </tr>
       </thead>
       <tbody> 
       <tr *ngFor="let hero of heroes | filter:searchText">
         <td><div class="form-group"><input type="text" disabled size = "3" formControlName="user_id" class="form-control" value = {{hero.id}} /></div></td>
         <td><div class="form-group"><input type="text" size = "10" formControlName="email" class="form-control" value = {{hero.email}} /></div></td>
         <td><div class="form-group"><input type="text" size = "10" formControlName="password" class="form-control" /></div> </td>
         <td><div class="form-group"><input type="text" size = "10" formControlName="first_name" class="form-control" value = {{hero.firstName}} /></div> </td>
         <td><div class="form-group"><input type="text" size = "10" formControlName="surname" class="form-control" value = {{hero.surname}}/></div> </td>
         <td><div class="form-group"><input type="text" size = "10" formControlName="national_id" class="form-control" value = {{hero.nationalID}}/></div> </td>
         <td><div class="form-group"><input type="text" size = "14" formControlName="telephone" class="form-control" value = {{hero.telephone}}/></div> </td>
         <td><div class="form-group"><input type="text" size = "2" formControlName="role_id" class="form-control" value = {{hero.roleID}}/></div> </td>
         <td><div class="form-group">'<button class="btn btn-primary btn-sm" (click)="onEditClick($event, hero)">Edytuj</button>'</div></td>
       </tr>
       </tbody>
     </table>
  </div>
</div>
</div>
