﻿<app-navigation></app-navigation>
<div style="background-color: rgb(228, 228, 228)">
  <main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}" class="mx-lg-5">

    <div class="row wow fadeIn">
      <!--Main layout-->

      <div class="container">

        <!--Section: Main info-->
        <section class="mt-5 wow fadeIn">

          <h1 class="my-5 h1 text-center">Salutem Omnibus</h1>

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

              <img src="../../assets/img/kadra-nowe.jpg" class="img-fluid z-depth-1-half" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

              <!-- Main heading -->
              <h3 class="h3 mb-3">Zdrowie przyszłości w naszych rękach</h3>
              <p>Głównym celem systemu jest poprawa komunikacji między lekarzem a jego pacjentem.</p>

              <!-- Main heading -->
              <p>Stworzyliśmy nasz system z myślą o bezpieczeństwie każdego pacjenta. W szczególności osób starszych,
                które mają ograniczone możliwości częstych wizyt u lekarza</p>
              <hr>
              <p>Przeczytaj szczegóły poniżej, aby dowiedzieć się więcej o Salutem Omnibus.</p>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--Section: Main info-->

        <hr class="my-5">

        <!--Section: Main features & Quick Start-->
        <section>

          <h3 class="h3 text-center mb-5">Więcej o systemie</h3>

          <!--Grid row-->
          <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 px-4">

              <div class="row">
                <div class="col-1 mr-3">
                  <i class="fas fa-heartbeat fa-3x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h5 class="feature-title">Urządzenie telemedyczne</h5>
                  <p class="grey-text">
                    Urządzenie telemedyczne dokonuje pomiarów zleconych przez lekarza</p>
                </div>
              </div>

              <!--First row-->
              <div class="row">
                <div class="col-1 mr-3">
                  <i class="fas fa-mobile fa-3x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h5 class="feature-title">Aplikacja mobilna</h5>
                  <p class="grey-text">
                    Aplikacja mobilna łączy się z urządzeniami telemedycznymi w celu gromadzenia i przesyłania danych na
                    serwer</p>
                </div>
              </div>
              <!--/First row-->

              <div style="height:30px"></div>

              <!--Second row-->
              <div class="row">
                <div class="col-1 mr-3">
                  <i class="fas fa-server fa-3x blue-text"></i>
                </div>
                <div class="col-10">
                  <h5 class="feature-title">Servwer</h5>
                  <p class="grey-text">
                    Serwer przechowuje wyniki pacjenta i udostępnia je za pomocą interfejsu API REST
                  </p>
                </div>
              </div>
              <!--/Second row-->

              <div style="height:30px"></div>

              <!--Third row-->
              <div class="row">
                <div class="col-1 mr-3">
                  <i class="fas fa-desktop fa-3x cyan-text icon-system"></i>
                </div>
                <div class="col-10">
                  <h5 class="feature-title">Aplikacja internetowa</h5>
                  <p class="grey-text">
                    Za pomocą aplikacji internetowej lekarz może łatwo sprawdzić wyniki pacjenta i szybko na nie
                    odpowiedzieć</p>
                </div>
              </div>
              <!--/Third row-->

            </div>
            <!--/Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12">

              <img src="../../assets/img/logo.png" class="img-fluid z-depth-1-half img-logo" alt="">

            </div>
            <!--/Grid column-->

          </div>
          <!--/Grid row-->

        </section>
        <!--Section: Main features & Quick Start-->

        <hr class="my-5">

        <!--Section: Not enough-->
        <section>

          <h2 class="my-5 h3 text-center">Korzyści płynace z systemu</h2>

          <!--First row-->
          <div class="row features-small mb-5 mt-3 wow fadeIn">

            <!--First column-->
            <div class="col-md-6">
              <!--First row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Ciągłe monitorowanie</h6>
                  <p class="grey-text">Pacjent może być monitorowany w sposób ciągły bez konieczności pozostawania w
                    szpitalu
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/First row-->

              <!--Second row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Wygoda dla osób starszych lub niepełnosprawnych</h6>
                  <p class="grey-text">
                    Pacjent może przesyłać wyniki z domu bez konieczności regularnego uczęszczania na wizyty kontrolne
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/Second row-->

              <!--Third row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Obniżenie kosztów dla szpitali</h6>
                  <p class="grey-text">
                    Pacjenci bez zagrożenia życia nie muszą być w szpitalu na stałe</p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/Third row-->

              <!--Fourth row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Łatwy w użyciu</h6>
                  <p class="grey-text">
                    System dedykowany jest osobom starszym, jest więc łatwy w obsłudze i intuicyjny</p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/Fourth row-->
            </div>
            <!--/First column-->

            <!--Third column-->
            <div class="col-md-6 mt-2">
              <!--First row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Szybki przepływ informacji</h6>
                  <p class="grey-text">
                    Dzięki systemowi wyniki pacjenta są dostarczane lekarzowi znacznie szybciej niż w
                    forma wizyt kontrolnych
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/First row-->

              <!--Second row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">
                    Elastyczność systemu</h6>
                  <p class="grey-text">
                    System został stworzony tak aby można było zintegrować do niego wiele różnych urządzeń</p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/Second row-->

              <!--Third row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">
                    Łatwy dostęp</h6>
                  <p class="grey-text">
                    Aby korzystać z systemu, pacjent potrzebuje tylko telefonu z systemem Android, a lekarz komputera z
                    dostępem do Internetu
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/Third row-->

              <!--Fourth row-->
              <div class="row">
                <div class="col-2">
                  <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Komentarze dla pacjentów</h6>
                  <p class="grey-text">
                    Lekarz może publikować komentarze na temat wyników pacjenta, które są wysyłane na telefon pacjenta w
                    formie powiadomień</p>
                  <div style="height:15px"></div>
                </div>
              </div>
              <!--/Fourth row-->
            </div>
            <!--/Third column-->

          </div>
          <!--/First row-->

        </section>
        <!--Section: Not enough-->

        <hr class="mb-5">

      </div>
      <!--Main layout-->
    </div>
  </main>
</div>