<app-navigation></app-navigation>
<main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}" class="mx-lg-5">

  <!--Grid row-->
  <div class="row wow fadeIn ">
    <div class="col-md-12 mb-4 position">
      <div class="card">
        <div class="card-header">Moi pacjenci:</div>
        <div class="card-body">
          <table class="table table-hover">
            <thead class="blue lighten-4">
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Narodowość</th>
                <th>Telefon</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patient of patients; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{patient.email}}</td>
                <td>{{patient.firstName}}</td>
                <td>{{patient.Surname}}</td>
                <td>{{patient.nationalID}}</td>
                <td>{{patient.telephone}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>