<app-navigation></app-navigation>
<main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}" class="mx-lg-5">

  <div class="row wow fadeIn">
    <div class="col-md-12 mb-4 position">
      <div class="card">
        <div class="card-header">Wybierz wyniki do wyświetlenia</div>
        <div class="card-body">

          <div *ngIf="isDoctor" style="padding-bottom: 20px">
            <select class="browser-default custom-select select-margin" [(ngModel)]="selectedPatient">
              <option value="" selected hidden>Wybierz pacjenta</option>
              <option *ngFor="let patient of patients; let i = index" [value]="patient.id">{{patient.email}}
              </option>
            </select>
            <button type="button" class="btn btn-primary" (click)="onClickPatient()">Wybierz</button>
          </div>

          <select class="browser-default custom-select select-margin" [(ngModel)]="selectedType">
            <option value="" selected hidden="">Wybierz typ wymików</option>
            <option *ngFor="let type of types; let i = index" [value]="type.id">{{type.name}}</option>
          </select>

          <select class="browser-default custom-select select-margin" [(ngModel)]="selectedInterval">
            <option value="" selected hidden>Wybierz przedział czasowy</option>
            <option value="7">7 dni</option>
            <option value="30">30 dni</option>
          </select>

          <button type="button" class="btn btn-primary" (click)="selectedData()">Wyświetl</button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="flag">
    <div class="row wow fadeIn ">
      <div class="col-md-12 mb-4 ">
        <!--Card-->
        <div class="card ">
          <div class="card-header">{{title}}</div>
          <!--Card content-->
          <div class="card-body">
            <div style="display: block">
              <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels"
                [colors]="chartColors" [options]="chartOptions" [legend]="false">
              </canvas>
            </div>
          </div>
        </div>
        <!--/.Card-->
      </div>
    </div>

    <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <!--Card-->
        <div class="card">
          <!-- Card header -->
          <div class="card-header">{{title}}</div>
          <!--Card content-->
          <div class="card-body">
            <div style="display: block">
              <canvas mdbChart [chartType]="chart3Type" [datasets]="chartDatasets" [labels]="chartLabels"
                [colors]="chartColors" [options]="chartOptions" [legend]="false">
              </canvas>
            </div>
          </div>
        </div>
        <!--/.Card-->
      </div>
    </div>

    <!--Grid row-->
    <div class="row wow fadeIn ">
      <div class="col-md-12 mb-4 ">
        <div class="card scroll">
          <div class="card-header">Aby dodać komentarz kliknij na numer pomiaru</div>
          <div class="card-body">
            <div class="search-hero">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="&#63;  Szukaj ">
            </div>
            <table class="table table-hover">
              <thead class="blue lighten-4">
                <tr>
                  <th>#</th>
                  <th>Data</th>
                  <th>Wartość</th>
                  <th>Jednostka</th>
                  <th>Komentarz</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of results; let i = index">
                  <th scope="row" *ngIf="isDoctor; else elseBlock" (click)="frame.show(); measurementIndex(result.id)">
                    {{i+1}}</th>
                  <ng-template #elseBlock>
                    <th scope="row">{{i+1}}</th>
                  </ng-template>
                  <td>{{result.timestamp}}</td>
                  <td>{{result.value}}</td>
                  <td>{{result.unitName}}</td>
                  <ng-container *ngFor="let comment of comments; last as isLast">
                    <td *ngIf="result.id == comment.measurementID; else elseNoComment">{{comment.content}}</td>
                    <ng-template #elseNoComment>
                      <td *ngIf="result.id != comment.measurementID && isLast"></td>
                    </ng-template>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div *ngIf="commentFlag; else elseCommentInput">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Dodaj komentarz</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <div class="md-form">
                <i class="fas fa-pencil-alt prefix grey-text"></i>
                <textarea type="text" id="form8" class="md-textarea form-control" rows="1" mdbInput
                  [formControl]="commentFormModal"></textarea>
                <label data-error="wrong" data-success="right" for="form8">Napisz komentarz tutaj</label>
              </div>
            </div>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button mdbBtn color="indigo" class="waves-light" mdbWavesEffect
              (click)="addComment(); frame.hide()">Wyślilj
              <i class="far fa-paper-plane ml-1"></i>
            </button>
          </div>
        </div>
      </div>

      <ng-template #elseCommentInput>
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Dodaj komentarz</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body mx-3 justify-content-center text-center">
            <h5 class="modal-title font-weight-bold " style="color: red; font-size: 22px">Ten pomiar posiada już komentarz</h5>
            <div class="md-form mb-5">
              <div class="md-form justify-content-center text-center"></div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center"></div>
        </div>
      </ng-template>

    </div>
  </div>