.classic-admin-card .card-body {
    color: #fff;
    margin-bottom: 0;
    padding: 0.9rem;
  }
  .classic-admin-card .card-body p {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 0;
  }
  .classic-admin-card .card-body h4 {
    margin-top: 10px;
  }
  .classic-admin-card .card-body .float-right .fa {
    font-size: 3rem;
    opacity: 0.5;
  }
  .classic-admin-card .progress {
    margin: 0;
    opacity: 0.7;
  }
  .table-ui {
    border: 1px solid #e0e0e9;
  }
  .blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
  }
  .card.card-cascade .view {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 3px 12px 0 rgba(0, 0, 0, 0.15);
  }
  
  .select-margin {
    margin-bottom: 20px;
  }

  .position {
    margin-top: 35px;
  }

  .scroll {
    overflow:auto; 
    max-height:600px;
  }

  .search-hero {
    max-width: 500px;
    padding-bottom: 30px;
    margin:auto;
  }