.jumbotron {
    margin-top: 80px
}

.bg {
    background-image: url("../../../assets/img/efceed9ce59486eabee431bcc8b0ebc1.jpeg");
    height: 100%;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-nav {
    height: 80px;
}