<app-navigation></app-navigation>
<main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}" class="mx-lg-5">


    <div _ngcontent-c5="" class="row wow fadeIn" style="padding-top: 30px;">
        <div _ngcontent-c5="" class=" mb-4 position offset-md-3  ">
            <div _ngcontent-c5="" class="card card-cascade narrower">
                <div _ngcontent-c5="" class="view view-cascade gradient-card-header light-blue lighten-1">
                    <h4 _ngcontent-c5="" class="h4-responsive">Profil użytkownika:</h4>
                </div>
                <div _ngcontent-c5="" class="card-body card-body-cascade text-center">
                    <form _ngcontent-c5="" novalidate="" class="ng-untouched ng-pristine ng-valid">

                        <div _ngcontent-c5="" class="row">
                            <div _ngcontent-c5="" class="col-md-4">
                                <div _ngcontent-c5="" class="md-form"><input _ngcontent-c5="" class="form-control"
                                        id="form11" placeholder={{userProfile.email}} type="text" disabled=""><label
                                        _ngcontent-c5="" class="active disabled" for="form11">Username</label>
                                </div>
                            </div>
                            <div _ngcontent-c5="" class="col-md-4">
                                <div _ngcontent-c5="" class="md-form"><input _ngcontent-c5="" class="form-control"
                                        id="form12" placeholder={{userProfile.firstName}} type="text" disabled=""><label
                                        _ngcontent-c5="" class="active disabled" for="form12">Imię</label></div>
                            </div>
                            <div _ngcontent-c5="" class="col-md-4">
                                <div _ngcontent-c5="" class="md-form"><input _ngcontent-c5="" class="form-control"
                                        id="form13" placeholder={{userProfile.surname}} type="text" disabled=""><label
                                        _ngcontent-c5="" class="active disabled" for="form13">Nazwisko</label></div>
                            </div>
                        </div>

                        <div _ngcontent-c5="" class="row">
                            <div _ngcontent-c5="" class="col-md-6">
                                <div _ngcontent-c5="" class="md-form"><input _ngcontent-c5="" class="form-control"
                                        id="form13" placeholder={{userProfile.telephone}} type="text" disabled=""><label
                                        _ngcontent-c5="" class="active disabled" for="form13">Telefon</label></div>
                            </div>
                            <div _ngcontent-c5="" class="col-md-6">
                                <div _ngcontent-c5="" class="md-form"><input _ngcontent-c5="" class="form-control"
                                        id="form13" placeholder="Polish" type="text" disabled=""><label _ngcontent-c5=""
                                        class="active disabled" for="form13">Narodowość</label></div>
                            </div>
                        </div>

                        <div _ngcontent-c5="" class="row">

                            <div _ngcontent-c5="" class="col-md-6">
                                <div _ngcontent-c5="" class="md-form"><input _ngcontent-c5="" class="form-control"
                                        id="form12" placeholder={{userRole}} type="text"><label _ngcontent-c5=""
                                        class="active disabled" for="form12">Rola</label></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>