.user-profile{
    width: 50%;
    margin-left: 24px;
    margin-top: 10px;
}

.user-profile-name{
    text-align: left;
    margin-top: 10px;
}

.user-profile-name-value{
    display: inline-block;
    margin-left: 10px;
}
        
.user-profile-name-btn{
    margin-left: 100px;
}
    
