.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0;
  }
  .sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .sidebar-fixed .logo-wrapper {
    padding: 1rem;
  }
  .sidebar-fixed .logo-wrapper img {
    max-height: 200px;
  }
  @media (min-width: 1200px) {
    .navbar, .page-footer, main {
      padding-left: 270px;
    }
  }
  @media (max-width: 1199.98px) {
    .sidebar-fixed {
      display: none;
    }
  }
  
  .img-fluid {
    height: fit-content;
    width: fit-content;
  }
  
  .navbar-nav {
    padding-left: 270px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
  }
  .logo-wrapper {
    width: 230px;
  }
  .nav-link{
    font-size: 16px;
    font: bold;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .list-group-item {
    font: bold;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }