<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed" *ngIf="isUser">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/logo2.png" class="img-fluid" alt="">
        </a>
        <a class="nav-link" href="" target="_blank" style="font: bold; color:darkgreen; font-size: 22px; padding-right: 10px; text-align: center;  
        " mdbWavesEffect>Jesteś zalogowany jako Pacjent</a>
        <div class="list-group list-group-flush">

            <a routerLink="/home" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="home" class="mr-3"></mdb-icon>Strona domowa
            </a>
            <a routerLink="/profile" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Profil użytkownika
            </a>

            <a routerLink="/results" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Wyniki
            </a>
            <a routerLink="/measurement_input" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="keyboard" class="mr-3"></mdb-icon>Pomiary
            </a>
            <a class="list-group-item list-group-item-action waves-effect" (click)="logout()">
                <mdb-icon far icon="times-circle" class="mr-3"></mdb-icon>Wylogowanie
            </a>
        </div>
    </div>


    <div class="sidebar-fixed position-fixed" *ngIf="isDoctor">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/logo2.png" class="img-fluid" alt="">
        </a>
        <a class="nav-link" href="" target="_blank" style="font: bold; color:darkgreen; font-size: 22px; padding-right: 10px; text-align: center;  
            " mdbWavesEffect>Jesteś zalogowany jako Lekarz</a>
        <div class="list-group list-group-flush">

            <a routerLink="dashboards/v1" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="home" class="mr-3"></mdb-icon>Strona domowa
            </a>
            <a routerLink="/profile" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user-md" class="mr-3"></mdb-icon>Profil użytkownika
            </a>
            <a routerLink="/patients" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Pacjenci
            </a>
            <a routerLink="/results" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Wyniki
            </a>

            <a class="list-group-item list-group-item-action waves-effect" (click)="logout()">
                <mdb-icon far icon="times-circle" class="mr-3"></mdb-icon>Wylogowanie
            </a>
        </div>
    </div>

    <div class="sidebar-fixed position-fixed" *ngIf="isAdmin">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/logo2.png" class="img-fluid" alt="">
        </a>
        <a class="nav-link" href="" target="_blank" style="font: bold; color:darkgreen; font-size: 22px; padding-right: 10px; text-align: center;  
                " mdbWavesEffect>Jesteś zalogowany jako Admin</a>
        <div class="list-group list-group-flush">

            <a routerLink="dashboards/v1" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="home" class="mr-3"></mdb-icon>Strona domowa
            </a>
           
            <a routerLink="/accounts" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="users-cog" class="mr-3"></mdb-icon>Konta
            </a>
            <a routerLink="/devices" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="cogs" class="mr-3"></mdb-icon>Urządzenia
            </a>

            <a class="list-group-item list-group-item-action waves-effect" (click)="logout()">
                <mdb-icon far icon="times-circle" class="mr-3"></mdb-icon>Wylogowanie
            </a>
        </div>
    </div>
    <!-- Sidebar -->


</header>
<!--Main Navigation-->