

.container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
  }
  
  .search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }

  
body
{
    background-color: #303030;
    font-size: 20px;
    margin: 0 !important;
}
#container
{
    background-color: red;
    min-height: 200px;
    width: 100%;
}
#pasek
{
    background-color: red;
    min-height: 200px;
    width: 100%;
}
#pasekg
{
    background-color: blue;
    min-height: 50px;
    width: 100%;
}
#lewa
{
    float:left;
    margin-left:auto;
}
#prawa
{
    float: left;
    background-color: lightgreen;
    margin-right: auto;
}

