<app-navigation></app-navigation>
<main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}" class="mx-lg-5">
<div class="jumbotron col-md-12 mb-4 position ">
 <div class="row">
  <h1 algin="center">{{title}}</h1> 
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#63;  Start searching ">
    </div>
    
    <div [formGroup]="DeviceserchingForm" style = "align-content : center">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Typ urządzenia</th>
          <th>Producent</th>
          <th>Model</th>
          <th>Numer seryjny</th>
          <th>Opis</th>
          <th>Id użytkownika</th>
          <th></th>
        </tr>
        </thead>
        <tbody>        
        <tr [formGroup]="DeviceAddForm">
          <td><div class="form-group"><input disabled type="text" size = "4" formControlName="id" class="form-control"  /></div></td>
          <td><div class="form-group"><input type="text" size = "10" formControlName="deviceType" class="form-control"  /></div></td>
          <td><div class="form-group"><input type="text" size = "10" formControlName="producer" class="form-control" /></div></td>
          <td><div class="form-group"><input type="text" size = "10" formControlName="model" class="form-control"  /></div></td>
          <td><div class="form-group"><input type="text" size = "14" formControlName="serialNumber" class="form-control"  /></div></td>
          <td><div class="form-group"><input type="text" size = "7" formControlName="others" class="form-control"  /></div> </td>     
          <td><div class="form-group"><input disabled type="text" size = "4"  formControlName="userID" class="form-control"  /></div></td>
          <td><div class="form-group">'<button class="btn btn-primary btn-sm" (click)="onAddClick()">Dodaj</button>'</div></td>
        </tr>
        <tr [formGroup]="DeviceserchingForm" *ngFor="let hero of heroes | filter:searchText">
          <td><div class="form-group"><input disabled type="text" size = "4" formControlName="id" class="form-control" value = {{hero.id}} /></div></td>
          <td><div class="form-group"><input type="text" size = "10" formControlName="deviceType" class="form-control" value = {{hero.deviceType}} /></div></td>
          <td><div class="form-group"><input type="text" size = "10" formControlName="producer" class="form-control" value = {{hero.producer}} /></div></td>
          <td><div class="form-group"><input type="text" size = "10" formControlName="model" class="form-control" value = {{hero.model}} /></div></td>
          <td><div class="form-group"><input type="text" size = "14" formControlName="serialNumber" class="form-control" value = {{hero.serialNumber}} /></div></td>
          <td><div class="form-group"><input type="text" size = "7" formControlName="others" class="form-control" value = {{hero.others}} /></div> </td>     
          <td><div class="form-group"><input type="text" size = "4"  formControlName="userID" class="form-control" value = {{hero.userID}} /></div></td>
          <td><div class="form-group">'<button class="btn btn-primary btn-sm" (click)="onEditClick($event, hero)">Edytuj</button>'</div></td>
          <td><div class="form-group">'<button class="btn btn-primary btn-sm" (click)="onDeleteClick($event, hero)">Usuń</button>'</div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
